@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;700&display=swap");
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
}

a,
button {
  display: inline-block;
  color: inherit;
}

a,
button,
input {
  font-family: inherit;
  font-size: inherit;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

input {
  outline: none;
}

label {
  cursor: pointer;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.1rem;
}

h1 {
  font-size: 2.4rem;
  text-transform: uppercase;
  color: hsl(0deg, 0%, 98%);
  letter-spacing: 0.7rem;
}

.attribution {
  text-align: center;
  padding-top: 10rem;
}

.todo-list__item {
  border-bottom: 1.5px solid hsl(236deg, 33%, 92%);
}
.todo-list__item label {
  position: relative;
}
.todo-list__item label::before {
  content: "";
  vertical-align: middle;
  display: inline-block;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-right: 1rem;
  border: 1.5px solid hsl(236deg, 33%, 92%);
}
.todo-list__item label:hover::before {
  border-color: transparent;
  background-image: linear-gradient(hsl(0deg, 0%, 98%), hsl(0deg, 0%, 98%)), linear-gradient(to right bottom, hsl(192deg, 100%, 67%), hsl(280deg, 87%, 65%));
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.todo-list__item [type=checkbox]:checked + label {
  text-decoration: line-through;
  color: hsl(233deg, 11%, 84%);
}
.todo-list__item [type=checkbox]:checked + label::before {
  background: url(../images/icon-check.svg) center no-repeat, linear-gradient(to right bottom, hsl(192deg, 100%, 67%), hsl(280deg, 87%, 65%));
  border: none;
}

.add-todo::before {
  content: "";
  vertical-align: middle;
  display: inline-block;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-right: 1rem;
  border: 1.5px solid hsl(236deg, 33%, 92%);
}
.add-todo input:placeholder {
  color: hsl(236deg, 9%, 61%);
}

button img {
  width: 100%;
}

button[data-current-filter=true] {
  color: hsl(220deg, 98%, 61%);
}

.btn-text:hover {
  color: hsl(235deg, 19%, 35%);
}

.btn-remove-item {
  width: 14px;
  height: 14px;
}

@media (max-width: 600px) {
  .menu {
    position: relative;
  }
  .menu .list-filter {
    position: absolute;
    background-color: hsl(0deg, 0%, 98%);
    border-radius: 6px;
    padding: 1.5rem 2rem;
    top: 140%;
    left: 0;
    right: 0;
    text-align: center;
  }
}

.theme-toggle label {
  display: inline-block;
  font-size: 0;
  transition: transform 0.3s ease-out;
}
.theme-toggle input[type=radio]:checked + label {
  transform: translateY(-50%);
}
.theme-toggle input[type=radio]:checked + label img {
  height: 0px;
  width: 0px;
}

body {
  background-image: url(../images/bg-mobile-light.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: hsl(236deg, 33%, 92%);
  color: hsl(235deg, 19%, 35%);
}

.menu {
  color: hsl(236deg, 9%, 61%);
}

.container {
  width: 90%;
  max-width: 540px;
  margin-inline: auto;
  background-color: hsl(0deg, 0%, 98%);
  border-radius: 6px;
}
.container [type=text] {
  background: none;
  border: none;
  width: 80%;
}

.container + .container {
  margin-top: 2rem;
}

.fence {
  width: 90%;
  max-width: 540px;
  margin-inline: auto;
}

.pd-400 {
  padding: 1.5rem 2rem;
}

.pd-600 {
  padding: 3rem 3rem;
}

.pd-block-600 {
  padding-block: 3rem;
}

.flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 0.5rem;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.horizontal-flow > * + * {
  margin-left: 1.5rem;
}

.fs-300 {
  font-size: 1.4rem;
}

.fw-semi-bold {
  font-weight: 500;
}

.hidden {
  display: none;
}

.align-center {
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
