$fs-600: 3.6rem; // Desktop logo
$fs-500: 2.4rem; // Mobile logo
$fs-400: 1.6rem; // Desktop input + todo items
$fs-300: 1.4rem; // Desktop menu + Mobile filter options
$fs-200: 1.1rem; // Mobile input + todo items

$fw-regular: 400;
$fw-semi-bold: 500;
$fw-bold: 700;
