@use "../abstracts/colors" as *;

@mixin container {
  width: 90%;
  max-width: 540px;
  margin-inline: auto;
  background-color: $clr-light-neutral-100;
  border-radius: 6px;
}

@mixin custom-checkbox {
  content: "";
  vertical-align: middle;
  display: inline-block;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-right: 1rem;
  border: 1.5px solid $clr-light-neutral-200;
}
