@use "../abstracts/colors" as *;

@mixin base {
  background-color: var(--clr-bg-item);
  border-radius: 6px;
}

@mixin fence {
  width: 90%;
  max-width: 540px;
  margin-inline: auto;
}

@mixin container {
  @include fence;
  @include base;
}

@mixin custom-checkbox {
  content: "";
  vertical-align: middle;
  display: inline-block;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-right: 1rem;
  border: 1.5px solid var(--clr-radio);
}

@mixin padding($inline: 2em, $block: 1.5em, $type: default) {
  @if $type == inline {
    padding-inline: $inline;
  } @else if $type == block {
    padding-block: $block;
  } @else {
    padding: $block $inline;
  }
}
