html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
}

a,
button {
  display: inline-block;
  color: inherit;
}

a,
button,
input {
  font-family: inherit;
  font-size: inherit;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

input {
  outline: none;
  color: inherit;
}

label {
  cursor: pointer;
}
