@use "../abstracts/fonts" as *;
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;700&display=swap");

body {
  font-family: "Josefin Sans", sans-serif;
  font-size: $fs-200;
}

h1 {
  font-size: $fs-500;
  text-transform: uppercase;
  letter-spacing: 0.7rem;
}

.attribution {
  font-size: $fs-200;
  padding-top: 10rem;
}

@media (min-width: 600px) {
  body {
    font-size: $fs-400;
  }

  h1 {
    font-size: $fs-600;
  }

  .menu > *:not(div) {
    font-size: $fs-300;
  }
}
