@use "../abstracts/colors" as *;

button {
  img {
    width: 100%;
  }
}

button[data-current-filter="true"] {
  color: $clr-accent;
}

.btn-text:hover {
  color: $clr-light-neutral-500;
}

.btn-remove-item {
  width: 14px;
  height: 14px;
}
